@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
	font-family: 'Poppins', sans-serif;
}

.primaryFont {
	font-weight: 700;
}

.secondaryFont {
	font-weight: 600;
}